# Dependency directories
node_modules
npm-debug.log

# Build output
dist

# Environment variables
.env
.env.local

# Docker related files
Dockerfile
docker-compose.yml

# OS & IDE files
.DS_Store
.vscode
.git